{% extends 'base.html.twig' %}

{% block title %}PizzaTime{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="container">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add Pizza</button>
</div>


<div class="container mt-5 pizza-menu">
    <div class="row">
    {% for pizza in pizzas %}
        <div class="col-md-3" id="pizza-{{pizza['body'].id}}">
            <div class="card">
                <div class="image-container">
                    <div class="first">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="discount" id="{{pizza['body'].id}}">X</span>
                            <span class="wishlist">
                                <i class="fa fa-heart-o"></i>
                            </span>
                        </div>
                    </div> <img src="{{pizza['pic']}}" class="img-fluid rounded thumbnail-image">
                </div>
                <div class="product-detail-container p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="dress-name" id="pizza-name-{{pizza['body'].name}}">{{pizza['body'].name}}</h5>
                        <div class="d-flex flex-column mb-2"> 
                            <span class="new-price" id="pizza-price-{{pizza['body'].price}}">${{pizza['body'].price}}</span> 
                            <small class="old-price text-right">${{pizza['body'].price}}</small> 
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center pt-1">
                        <div class="color-select d-flex "> <input type="button" name="grey" class="btn1 creme"> <input type="button" name="red" class="btn1 red ml-2"> <input type="button" name="blue" class="btn1 blue ml-2"> </div>
                        <div class="d-flex "> <span class="item-size mr-2 btn1" type="button">S</span> <span class="item-size mr-2 btn1" type="button">M</span> <span class="item-size btn1" type="button">L</span> </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center pt-1">
                        <div> <i class="fa fa-star-o rating-star"></i> <span class="rating-number">4.8</span> </div> <span class="buy">BUY +</span>
                    </div>
                </div>
            </div>
            <div class="mt-3">
            </div>
        </div>

    {% endfor %}
    </div>
</div>

<!-- Modal ADD-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="ingredient-parent">
        <div class="row mb-2">
            <div class="col-md-3">Pizza Name</div>
            <div class="col-md-7">
                <input class="form-control" type="text" id="pizza-name" placeholder="Pizza name">
            </div>
        </div>
        <div class="row ingredient-container mb-2">
            <div class="col-md-3">Ingredient</div>
            <div class="col-md-5">
                <select class="custom-select" id="pizza-part">
                    <option selected>Open this select menu</option>
                    {% for i in ingredients %}
                    <option value="{{i.id}}">{{i.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4 svg-buttons">
                <div class="svg-container">
                    <svg class="svg-circleplus mb-2" viewBox="0 0 100 100" id="add-ingredient">
                        <circle cx="50" cy="50" r="45" fill="none" stroke-width="7.5"></circle>
                        <line x1="32.5" y1="50" x2="67.5" y2="50" stroke-width="5"></line>
                        <line x1="50" y1="32.5" x2="50" y2="67.5" stroke-width="5"></line>
                    </svg>
                    <svg id="down" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M0 3l12 18 12-18h-24zm12 16.197l-10.132-15.197h20.263l-10.131 15.197"/></svg>
                    <svg id="up" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M0 21l12-18 12 18h-24zm12-16.197l-10.132 15.197h20.263l-10.131-15.197"/></svg>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary add-pizza">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
